<!doctype html>
<html>
<head>
<title>Plotly Test</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body style="font-family:arial, sans-serif">
	<h1 style="background:lightblue;padding:10px">
	<a href="{{url_for('index')}}">Home</a>
	</h1>
	<h1>Plotly Test</h1>
	<div id="chart" class="chart"></div>
</body>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
	var graphs = {{graphJSON | safe}};
	Plotly.plot('chart',graphs,{});
</script>
</html>